html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
}

.banner-content {
  line-height: 1.4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  top: 4px;
  width: 95%;
  text-align: left;
  display: block;
  margin: 0 auto;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  display: inline;
}

div h2 {
  font-size: 4rem;
  margin: 0;
  display: inline;
}

div p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  padding-top: .5em;
  line-height: 1.5;
}

.img-flex {
  overflow: hidden;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 85em) {

  .banner-content {
    max-width: 50em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12em;
    bottom: 2em;
  }
}
